header{
    background-color: #E6E6E6;
}
#img-cont{
    display: flex;
    justify-content: center;
}

h1.cat{
    text-align: center;
    letter-spacing: 12px;
}

.cat{
    background-color: #C4C4C4;
    color: #005677;
    margin-bottom: 10px;
}

h2{
    letter-spacing: 8px;
}


.italic{
    font-style:italic;
    font-weight: bold;
}

.bold{
    font-weight: bold;
}

footer{
    margin-top: 160px;
    height:37px;
    background-color: #005677;
    color: #ffff;
    text-align: center;
    font-size: 25px ;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    line-height: 37px;
}
